#
# SDK configuration
#
CONFIG_ESPTOOLPY_FLASHSIZE_8MB=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="ESP32CS-S3-partitions.csv"
CONFIG_PARTITION_TABLE_FILENAME="ESP32CS-S3-partitions.csv"

#
# ESP32S3-Specific
#
CONFIG_ESP32S3_DEFAULT_CPU_FREQ_240=y
CONFIG_ESP32S3_ULP_COPROC_ENABLED=y
CONFIG_ESP32S3_DEBUG_OCDAWARE=n
CONFIG_ESP32S3_SPIRAM_SUPPORT=y

#
# SPI RAM config
#
CONFIG_SPIRAM_TYPE_AUTO=y
CONFIG_SPIRAM=y
CONFIG_SPIRAM_USE_MALLOC=y
CONFIG_SPIRAM_MALLOC_ALWAYSINTERNAL=128
CONFIG_SPIRAM_TRY_ALLOCATE_WIFI_LWIP=y
CONFIG_SPIRAM_MALLOC_RESERVE_INTERNAL=0
CONFIG_SPIRAM_IGNORE_NOTFOUND=y

#
# ESP System Settings
#
CONFIG_ESP_CONSOLE_SECONDARY_USB_SERIAL_JTAG=y

#
# LWIP
#
CONFIG_LWIP_L2_TO_L3_COPY=y

#
# Compiler options
#
CONFIG_COMPILER_CXX_EXCEPTIONS=y

#
# TCP
#
CONFIG_LWIP_TCP_RECVMBOX_SIZE=32
CONFIG_LWIP_WND_SCALE=y
