#
# CS PCB configuration
#
CONFIG_WIFI_MODE_SOFTAP=y
CONFIG_OPS_HBRIDGE_LMD18200=y
CONFIG_OPS_ENABLE_PIN=17
CONFIG_OPS_SIGNAL_PIN=5
CONFIG_OPS_ADC_CHANNEL_5=y
CONFIG_OPS_RAILCOM=y
CONFIG_OPS_RAILCOM_ENABLE_PIN=26
CONFIG_OPS_RAILCOM_BRAKE_PIN=25
CONFIG_OPS_RAILCOM_UART2=y
CONFIG_OPS_RAILCOM_UART=2
CONFIG_OPS_RAILCOM_UART_RX_PIN=36
CONFIG_PROG_HBRIDGE_L298=y
CONFIG_PROG_ENABLE_PIN=18
CONFIG_PROG_SIGNAL_PIN=19
CONFIG_PROG_ADC_CHANNEL_6=y
CONFIG_LCC_CAN_ENABLED=y
CONFIG_LCC_CAN_RX_PIN=35
CONFIG_LCC_CAN_TX_PIN=32
CONFIG_STATUS_LED=y
CONFIG_STATUS_LED_DATA_PIN=22
CONFIG_STATUS_LED_TYPE_APA106=y
CONFIG_GPIO_OUTPUTS=n
CONFIG_GPIO_SENSORS=n
CONFIG_GPIO_S88=n
CONFIG_DISPLAY_SCL=21
CONFIG_DISPLAY_SDA=23
