menu "Task Monitor"

    config TASK_MONITOR_INTERVAL_SEC
        int "Seconds between task monitoring printing"
        default 45

    config TASK_LIST_REPORT
        bool "Print FreeRTOS task list periodically"
        default n

    config TASK_LIST_INTERVAL_SEC
        int "Seconds between FreeRTOS task list printing"
        default 300
        depends on TASK_LIST_REPORT

endmenu