
# Log level constants from from components/OpenMRNLite/src/utils/logging.h
#
# ALWAYS      : -1
# FATAL       :  0
# LEVEL_ERROR :  1
# WARNING     :  2
# INFO        :  3
# VERBOSE     :  4
#
# Note that FATAL will cause the MCU to reboot!

menu "DCC Turnout"

    config TURNOUT_PERSISTENCE_INTERVAL_SEC
        int "Number of seconds between automatic persistence of turnout list"
        default 30

    choice TURNOUT_LOGGING
        bool "Turnout Manager logging"
        default TURNOUT_LOGGING_MINIMAL
        config TURNOUT_LOGGING_VERBOSE
            bool "Verbose"
        config TURNOUT_LOGGING_MINIMAL
            bool "Minimal"
    endchoice
    config TURNOUT_LOG_LEVEL
        int
        default 4 if TURNOUT_LOGGING_MINIMAL
        default 3 if TURNOUT_LOGGING_VERBOSE
        default 5
endmenu