
# Log level constants from from components/OpenMRNLite/src/utils/logging.h
#
# ALWAYS      : -1
# FATAL       :  0
# LEVEL_ERROR :  1
# WARNING     :  2
# INFO        :  3
# VERBOSE     :  4
#
# Note that FATAL will cause the MCU to reboot!

menu "Turnout Management"

    config TURNOUT_CREATE_ON_DEMAND
        bool "Create turnouts on first use"
        default y
        help
            When this option is enabled, the first attempt to access a turnout
            will result in it being created and persisted. NOTE: This will only
            create DCC Turnouts. For OpenLCB based turnouts you will need to
            update them to provide the event mapping.

    config TURNOUT_PERSISTENCE_INTERVAL_SEC
        int "Number of seconds between automatic persistence of turnout list"
        default 30

    choice TURNOUT_LOGGING
        bool "Turnout Manager logging"
        default TURNOUT_LOGGING_MINIMAL
        config TURNOUT_LOGGING_VERBOSE
            bool "Verbose"
        config TURNOUT_LOGGING_MINIMAL
            bool "Minimal"
    endchoice
    config TURNOUT_LOG_LEVEL
        int
        default 4 if TURNOUT_LOGGING_MINIMAL
        default 3 if TURNOUT_LOGGING_VERBOSE
        default 5
endmenu