menu "LCC Train Search"
###############################################################################
#
# Log level constants from from components/OpenMRNLite/src/utils/logging.h
#
# ALWAYS      : -1
# FATAL       :  0
# LEVEL_ERROR :  1
# WARNING     :  2
# INFO        :  3
# VERBOSE     :  4
#
# Note that FATAL will cause the MCU to reboot!
#
###############################################################################
    choice LCC_TSP_LOGGING
        bool "Log level"
        default LCC_TSP_LOGGING_MINIMAL
        config LCC_TSP_LOGGING_VERBOSE
            bool "Verbose"
        config LCC_TSP_LOGGING_MINIMAL
            bool "Minimal"
    endchoice
    config LCC_TSP_LOG_LEVEL
        int
        default 4 if LCC_TSP_LOGGING_MINIMAL
        default 3 if LCC_TSP_LOGGING_VERBOSE
        default 5
endmenu