config GPIO_OUTPUTS
    bool "Enable GPIO pins to be used as outputs"
    default y
    help
        Enabling this option will allow usage of any free GPIO pin to be
        used as a controlled output.

config GPIO_SENSORS
    bool "Enable GPIO pins to be used as sensors"
    default y
    help
        Enabling this option will allow usage of any free GPIO pin to be
        used as a polled input.

config GPIO_S88
    bool "Enable S88 Sensor functionality"
    default n
    depends on GPIO_SENSORS
    help
        S88 (S88-n) is a feedback bus used primarily for occupancy
        detection but can be used for any digital input purposes. This
        module follows the S88-n timing as documented on http://www.s88-n.eu/

menu "GPIO"
    config ALLOW_USAGE_OF_RESTRICTED_GPIO_PINS
        bool "Allow usage of restricted GPIO pins"
        default n
        depends on GPIO_OUTPUTS || GPIO_SENSORS || GPIO_S88
        help
            Enables usage of the following pins for sensors and outputs
            0 - Bootstrap / Firmware Flash Download
            1 - UART0 TX
            2 - Bootstrap / Firmware Flash Download
            3 - UART0 RX
            5 - Bootstrap
            6, 7, 8, 9, 10, 11 - flash pins
            12, 15 - Bootstrap / SD pins

# Log level constants from from components/OpenMRNLite/src/utils/logging.h
#
# ALWAYS      : -1
# FATAL       :  0
# LEVEL_ERROR :  1
# WARNING     :  2
# INFO        :  3
# VERBOSE     :  4
#
# Note that FATAL will cause the MCU to reboot!

    choice GPIO_OUTPUT_LOGGING
        bool "GPIO Outputs logging"
        default GPIO_OUTPUT_LOGGING_MINIMAL
        depends on GPIO_OUTPUTS
        config GPIO_OUTPUT_LOGGING_VERBOSE
            bool "Verbose"
        config GPIO_OUTPUT_LOGGING_MINIMAL
            bool "Minimal"
    endchoice
    config GPIO_OUTPUT_LOG_LEVEL
        int
        depends on GPIO_OUTPUTS
        default 4 if GPIO_OUTPUT_LOGGING_MINIMAL
        default 3 if GPIO_OUTPUT_LOGGING_VERBOSE
        default 5

    choice GPIO_SENSOR_LOGGING
        bool "GPIO Sensors logging"
        default GPIO_SENSOR_LOGGING_MINIMAL
        depends on GPIO_SENSORS
        config GPIO_SENSOR_LOGGING_VERBOSE
            bool "Verbose"
        config GPIO_SENSOR_LOGGING_MINIMAL
            bool "Minimal"
    endchoice
    config GPIO_SENSOR_LOG_LEVEL
        int
        depends on GPIO_SENSORS
        default 4 if GPIO_SENSOR_LOGGING_MINIMAL
        default 3 if GPIO_SENSOR_LOGGING_VERBOSE
        default 5
endmenu

menu "Remote Sensors"
    depends on GPIO_SENSORS

    config REMOTE_SENSORS_DECAY
        int "Number of milliseconds until a remote sensor will automatically clear"
        default 60000
        help
            If a remote sensor does not report it's state within this
            number of milliseconds it will automatically be deactivated.

    config REMOTE_SENSORS_FIRST_SENSOR
        int "First ID to assign remote sensors"
        default 100
        help
            All sensors must have a unique ID number assigned to them, this
            value allows configuring what the first sensor ID will be for
            any remote sensors that report to the command station.
endmenu

menu "S88 Sensors"
    depends on GPIO_S88

    config GPIO_S88_CLOCK_PIN
        int "S88 Clock pin"
        range 0 32
        default 17
        help
            This pin is used to advance the sensor input data to the next
            sensor.

    config GPIO_S88_RESET_PIN
        int "S88 Reset pin"
        range -1 32
        default 16
        help
            This pin will be sent a pulse when initializing the read cycle
            for the sensors on the bus. This behavior can be disabled by
            setting this to -1.

    config GPIO_S88_LOAD_PIN
        int "S88 Load pin"
        range 0 32
        default 27
        help
            This pin is used to tell the sensors on the bus to load their
            current state for reading.

    config GPIO_S88_FIRST_SENSOR
        int "First S88 sensor ID"
        range 0 512
        default 512
        help
            This will be used for the first sensor bus and subsequent buses
            will start at the next sequential block of IDs. The block size
            is defined by the sensors per bus count below.

    config GPIO_S88_SENSORS_PER_BUS
        int "S88 sensors per bus"
        range 8 512
        default 512
        help
            This is the maximum number of inputs that are supported per
            bus. In most cases the default of 512 is sufficient but if
            you have smaller buses and want to have sensor IDs more
            closely indexed this value can be adjusted to a lower value.

    choice GPIO_S88_SENSOR_LOGGING
        bool "S88 Sensors logging"
        default GPIO_S88_SENSOR_LOGGING_MINIMAL
        depends on GPIO_S88
        config GPIO_S88_SENSOR_LOGGING_VERBOSE
            bool "Verbose"
        config GPIO_S88_SENSOR_LOGGING_MINIMAL
            bool "Minimal"
    endchoice
    config GPIO_S88_SENSOR_LOG_LEVEL
        int
        depends on GPIO_S88
        default 4 if GPIO_S88_SENSOR_LOGGING_MINIMAL
        default 3 if GPIO_S88_SENSOR_LOGGING_VERBOSE
        default 5

endmenu