config JMRI
    bool "Enable Legacy JMRI DCC++ Interface"
    default y
    depends on !WIFI_MODE_DISABLED

menu "Legacy JMRI DCC++ Interface"
    depends on JMRI

    config JMRI_LISTENER_PORT
        int "JMRI Listener port"
        default 2560

    config JMRI_MDNS_SERVICE_NAME
        string "mDNS service name"
        default "_esp32cs._tcp"
endmenu