config TIMEZONE
    string "Timezone"
    default "UTC0"
    help
        This is the timezone that the ESP32 Command Station is running in. This
        will influence the timestamps of peristent configuration files and the
        real-time fast clock. The value must follow POSIX notation.
        A few common values:
        * PST8PDT,M3.2.0,M11.1.0 -- UTC-8 with automatic DST adjustment
        * MST7MDT,M3.2.0,M11.1.0 -- UTC-7 with automatic DST adjustment
        * CST6CDT,M3.2.0,M11.1.0 -- UTC-6 with automatic DST adjustment
        * EST5EDT,M3.2.0,M11.1.0 -- UTC-5 with automatic DST adjustment
        A complete list can be seen here in the second column:
        https://github.com/nayarsystems/posix_tz_db/blob/master/zones.csv

menu "SNTP Configuration"
    config SNTP
        bool "Enable SNTP synchronization"
        default n
        help
            By enabling this option the ESP32 will attempt to synchronize the
            system time with an external SNTP server once per hour.

    config SNTP_SERVER
        string "SNTP Server"
        default "pool.ntp.org"
        depends on SNTP
endmenu

menu "Fast Clock"
    config FASTCLOCK_DEFAULT
        bool "Enable FastClock"
        default n
        help
            Enabling this option will cause the ESP32 Command Station to
            advertise itself as an LCC Fast Clock.

    config FASTCLOCK_DEFAULT_ID
        hex "FastClock Clock ID"
        default 0x010100000100
        depends on FASTCLOCK_DEFAULT
        help
            This is the clock ID that will be created and advertised.
            The default Fast Clock uses ID 0x010100000100.

    config FASTCLOCK_RATE
        hex "FastClock rate quarters"
        default 4
        range -512 511
        depends on FASTCLOCK_DEFAULT
        help
            This is the clock ID that will be created and advertised.
            The default Fast Clock uses ID 0x010100000100.

    config FASTCLOCK_REALTIME
        bool "Enable real-time FastClock"
        default n
        select SNTP
        help
            Enabling this option will cause the ESP32 Command Station to
            advertise itself as an LCC real-time Fast Clock.

    config FASTCLOCK_REALTIME_ID
        hex "Real-time Clock ID"
        default 0x010100000101
        depends on FASTCLOCK_REALTIME
        help
            This is the clock ID that will be created and advertised.
            Real-Time clock defaults to 0x010100000101.
endmenu

menu "WiFi Configuration"
    config HOSTNAME_PREFIX
        string "Hostname prefix"
        default "esp32cs_"
        help
            The LCC node id will be appended to this value, ie: esp32cs_050101013F00.

    choice WIFI_MODE
        bool "WiFi mode"
        default WIFI_MODE_SOFTAP
        config WIFI_MODE_STATION
            bool "Connect to SSID"
        config WIFI_MODE_SOFTAP
            bool "Create SoftAP"
        config WIFI_MODE_SOFTAP_STATION
            bool "Connect to SSID and create SoftAP"
    endchoice

    config WIFI_SOFTAP_SSID
        string "SoftAP SSID"
        default "esp32cs"
        depends on WIFI_MODE_SOFTAP

    config WIFI_SOFTAP_PASSWORD
        string "SoftAP Password"
        default "esp32cs"
        depends on WIFI_MODE_SOFTAP
    
    config WIFI_SSID
        string "SSID"
        depends on WIFI_MODE_STATION || WIFI_MODE_SOFTAP_STATION

    config WIFI_PASSWORD
        string "Password"
        depends on WIFI_MODE_STATION || WIFI_MODE_SOFTAP_STATION

    choice WIFI_IP_TYPE
        bool "WiFi IP"
        default WIFI_IP_DHCP
        config WIFI_IP_DHCP
            bool "DHCP"
        config WIFI_IP_STATIC
            bool "Static"
    endchoice

    config WIFI_STATIC_IP_ADDRESS
        string "IP address"
        default "10.0.0.155"
        depends on WIFI_IP_STATIC

    config WIFI_STATIC_IP_GATEWAY
        string "Gateway IP address"
        default "10.0.0.1"
        depends on WIFI_IP_STATIC

    config WIFI_STATIC_IP_SUBNET
        string "Subnet mask"
        default "255.255.255.0"
        depends on WIFI_IP_STATIC

    config WIFI_STATIC_IP_DNS
        string "Primary DNS address"
        default "8.8.8.8"
        depends on WIFI_IP_STATIC

    config WIFI_SOFT_AP_CHANNEL
        int
        default 6

    config WIFI_DEBUG_OUTPUT
        bool "Enable ESP-IDF WiFi debug diagnostic output"
        default n
endmenu

menu "Advanced Configuration Settings"

    config ESP32CS_FORCE_FACTORY_RESET
        bool "Perform factory reset on startup"
        default n
        help
            Enabling this option will force clear all persistent configuration
            settings upon startup, including all LCC configuration data. This
            would not be recommended to be enabled for most use cases.

    config ESP32CS_FORCE_FACTORY_RESET_PIN
        int "Factory Reset pin"
        range -1 39
        default -1
        help
            When this pin is held LOW during startup all persistent
            configuration will be cleared and defaults will be restored. Note
            this will also clear the LCC configuration data.
endmenu