menu "Status Display"
    choice DISPLAY_TYPE
        bool "Type of display"
        default DISPLAY_TYPE_NONE
        config DISPLAY_TYPE_NONE
            bool "None"
        config DISPLAY_TYPE_OLED
            bool "OLED"
        config DISPLAY_TYPE_LCD
            bool "LCD"
    endchoice

    config DISPLAY_SCL
        int "I2C SCL pin"
        default 22
        range 0 32
        depends on DISPLAY_TYPE_OLED || DISPLAY_TYPE_LCD

    config DISPLAY_SDA
        int "I2C SDA pin"
        default 21
        range 0 32
        depends on DISPLAY_TYPE_OLED || DISPLAY_TYPE_LCD

    choice DISPLAY_LCD_TYPE
        bool "Type of LCD display"
        default DISPLAY_LCD_20x4
        depends on DISPLAY_TYPE_LCD
        config DISPLAY_LCD_20x4
            bool "20 columns, 4 lines"
        config DISPLAY_LCD_16x4
            bool "16 columns, 4 lines"
        config DISPLAY_LCD_20x2
            bool "20 columns, 2 lines"
        config DISPLAY_LCD_16x2
            bool "16 columns, 2 lines"
    endchoice

    config DISPLAY_LCD_BACKLIGHT
        bool "Enable LCD Backlight"
        help
            Enabling this option will set the backlight bitmask to ON. Some
            LCD displays require this to be LOW.
        default y
        depends on DISPLAY_TYPE_LCD

    config DISPLAY_LCD_ENABLE_BITMASK
        hex "LCD Enable bitmask"
        help
            Bit to set for the Enable pin
        default 0x04
        depends on DISPLAY_TYPE_LCD

    config DISPLAY_LCD_REGISTER_SELECT_BITMASK
        hex "LCD Register Select bitmask"
        help
            Bit to set for the Register Select pin
        default 0x01
        depends on DISPLAY_TYPE_LCD

    config DISPLAY_LCD_BACKLIGHT_BITMASK
        hex "LCD Backlight Enable bitmask"
        help
            Bit to set for the Backlight pin
        default 0x08 if DISPLAY_LCD_BACKLIGHT
        default 0x00 if !DISPLAY_LCD_BACKLIGHT
        depends on DISPLAY_TYPE_LCD

    config DISPLAY_OLED_RESET_PIN
        int "OLED Reset pin"
        default -1
        help
            This optional pin can be used if the OLED display uses a
            dedicated pin for reset.
        depends on DISPLAY_TYPE_OLED

    config DISPLAY_OLED_VFLIP
        bool "Vertically flip"
        default n
        depends on DISPLAY_TYPE_OLED

    choice DISPLAY_OLED_TYPE
        bool "Size of OLED display"
        default DISPLAY_OLED_128x64
        depends on DISPLAY_TYPE_OLED
        config DISPLAY_OLED_128x64
            bool "128x64"
        config DISPLAY_OLED_128x32
            bool "128x32"
        config DISPLAY_OLED_96x16
            bool "96x16"
    endchoice

    config DISPLAY_OLED_CONTRAST
        int "Contrast ratio"
        help
            This controls how bright the OLED screen appears, default ratio
            is 128 (out of 255).
        depends on DISPLAY_TYPE_OLED
        default 128
        range 0 255

    choice DISPLAY_OLED_FONT
        bool "OLED Font"
        depends on DISPLAY_TYPE_OLED
        default DISPLAY_OLED_FONT_BOLD
        config DISPLAY_OLED_FONT_THIN
            bool "Thin"
        config DISPLAY_OLED_FONT_BOLD
            bool "Bold"
    endchoice

    choice DISPLAY_LCC_LOGGING
        bool "LCC Stat Logging"
        default DISPLAY_LCC_LOGGING_NONE
        config DISPLAY_LCC_LOGGING_VERBOSE
            bool "Verbose"
        config DISPLAY_LCC_LOGGING_NONE
            bool "None"
    endchoice

    config DISPLAY_LINE_COUNT
        int
        default 8 if DISPLAY_OLED_128x64
        default 4 if DISPLAY_OLED_128x32 || DISPLAY_LCD_20x4 || DISPLAY_LCD_16x4
        default 2 if DISPLAY_OLED_96x16 || DISPLAY_LCD_20x2 || DISPLAY_LCD_16x2
        default 1

    config DISPLAY_COLUMN_COUNT
        int
        default 20 if DISPLAY_LCD_20x4 || DISPLAY_LCD_16x4
        default 16 if DISPLAY_OLED_128x64 || DISPLAY_OLED_128x32 || DISPLAY_LCD_16x4 || DISPLAY_LCD_16x2
        default 12 if DISPLAY_OLED_96x16
        default 1

    config DISPLAY_OLED_WIDTH
        int
        default 96 if DISPLAY_OLED_96x16
        default 128 if DISPLAY_OLED_128x64 || DISPLAY_OLED_128x32
        depends on DISPLAY_TYPE_OLED

    config DISPLAY_OLED_HEIGHT
        int
        default 64 if DISPLAY_OLED_128x64
        default 32 if DISPLAY_OLED_128x32
        default 16 if DISPLAY_OLED_96x16
        depends on DISPLAY_TYPE_OLED

    config DISPLAY_I2C_TIMEOUT_MSEC
        int
        default 10

    config DISPLAY_I2C_BUS_SPEED
        int
        default 700000 if DISPLAY_TYPE_OLED
        default 100000 if DISPLAY_TYPE_LCD
endmenu