config HC12
    bool "Enable HC12 Radio interface"
    default n
    help
        The HC12 is a radio receiver that was previously used by some
        throttles to wirelessly send packet data to the ESP32 Command
        Station.

menu "HC12 Radio"
    depends on HC12

    config HC12_RX_PIN
        int "RX pin"
        range 0 39

    config HC12_TX_PIN
        int "TX pin"
        range 0 32

    choice HC12_UART
        bool "UART"
        default HC12_UART_UART1
        config HC12_UART_UART1
            bool "UART1"
            depends on !OPS_RAILCOM_UART1
        config HC12_UART_UART2
            bool "UART2"
            depends on !OPS_RAILCOM_UART2
    endchoice

    config HC12_UART
        int
        default 1 if HC12_UART_UART1
        default 2 if HC12_UART_UART2

    config HC12_BAUD_RATE
        int "BAUD rate for HC12 Radio"
        default 19200

    config HC12_BUFFER_SIZE
        int
        default 256
endmenu