name: Build

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        target: [esp32, esp32s3]
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
          fetch-depth: 0
      - name: Build (IDF v5)
        uses: atanisoft/esp-idf-ci-action@main
        with:
          target: ${{ matrix.target }}
      - name: Build (IDF v4.4)
        uses: atanisoft/esp-idf-ci-action@release-v4.4
        with:
          target: ${{ matrix.target }}
      - name: Build (IDF v4.3)
        uses: espressif/esp-idf-ci-action@release-v4.3
        with:
          target: ${{ matrix.target }}
        if: ${{ matrix.target }} == 'esp32'
      - name: Prepare Binaries
        run: |
          mkdir -p binaries
          cp .github/firmwarereadme.txt binaries/readme.txt
          cp build/ESP32CommandStation.bin binaries
          cp build/partition_table/partition-table.bin binaries
          cp build/ota_data_initial.bin binaries
          cp build/bootloader/bootloader.bin binaries
      - name: Package binaries
        uses: actions/upload-artifact@v1
        with:
          name: ESP32CommandStation
          path: binaries
        env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}