#
# Log level constants from from components/OpenMRNLite/src/utils/logging.h
#
# ALWAYS      : -1
# FATAL       :  0
# LEVEL_ERROR :  1
# WARNING     :  2
# INFO        :  3
# VERBOSE     :  4
#
# Note that FATAL will cause the MCU to reboot!

menu "HTTP/DNS Server"
    choice HTTP_DNS_LOGGING
        bool "DNS logging"
        default HTTP_DNS_LOGGING_MINIMAL
        config HTTP_DNS_LOGGING_VERBOSE
            bool "Verbose"
        config HTTP_DNS_LOGGING_MINIMAL
            bool "Minimal"
    endchoice
    config HTTP_DNS_LOG_LEVEL
        int
        default 4 if HTTP_DNS_LOGGING_MINIMAL
        default 3 if HTTP_DNS_LOGGING_VERBOSE
        default 5

    choice HTTP_SERVER_LOGGING
        bool "HttpRequest logging"
        default HTTP_SERVER_LOGGING_MINIMAL
        config HTTP_SERVER_LOGGING_VERBOSE
            bool "Verbose"
        config HTTP_SERVER_LOGGING_MINIMAL
            bool "Minimal"
    endchoice
    config HTTP_SERVER_LOG_LEVEL
        int
        default 4 if HTTP_SERVER_LOGGING_MINIMAL
        default 3 if HTTP_SERVER_LOGGING_VERBOSE
        default 5

    choice HTTP_REQ_LOGGING
        bool "HttpRequest logging"
        default HTTP_REQ_LOGGING_MINIMAL
        config HTTP_REQ_LOGGING_VERBOSE
            bool "Verbose"
        config HTTP_REQ_LOGGING_MINIMAL
            bool "Minimal"
    endchoice
    config HTTP_REQ_LOG_LEVEL
        int
        default 4 if HTTP_REQ_LOGGING_MINIMAL
        default 3 if HTTP_REQ_LOGGING_VERBOSE
        default 5

    choice HTTP_RESP_LOGGING
        bool "HttpRequest logging"
        default HTTP_RESP_LOGGING_MINIMAL
        config HTTP_RESP_LOGGING_VERBOSE
            bool "Verbose"
        config HTTP_RESP_LOGGING_MINIMAL
            bool "Minimal"
    endchoice
    config HTTP_RESP_LOG_LEVEL
        int
        default 4 if HTTP_RESP_LOGGING_MINIMAL
        default 3 if HTTP_RESP_LOGGING_VERBOSE
        default 5
    
    choice HTTP_REQ_FLOW_LOGGING
        bool "HttpRequestFlow logging"
        default HTTP_REQ_FLOW_LOGGING_MINIMAL
        config HTTP_REQ_FLOW_LOGGING_VERBOSE
            bool "Verbose"
        config HTTP_REQ_FLOW_LOGGING_MINIMAL
            bool "Minimal"
    endchoice
    config HTTP_REQ_FLOW_LOG_LEVEL
        int
        default 4 if HTTP_REQ_FLOW_LOGGING_MINIMAL
        default 3 if HTTP_REQ_FLOW_LOGGING_VERBOSE
        default 5

    choice HTTP_WS_LOGGING
        bool "WebSocket logging"
        default HTTP_WS_LOGGING_MINIMAL
        config HTTP_WS_LOGGING_VERBOSE
            bool "Verbose"
        config HTTP_WS_LOGGING_MINIMAL
            bool "Minimal"
    endchoice
    config HTTP_WS_LOG_LEVEL
        int
        default 4 if HTTP_WS_LOGGING_MINIMAL
        default 3 if HTTP_WS_LOGGING_VERBOSE
        default 5

endmenu