config STATUS_LED
    bool "Enable Status LED"
    default n

menu "Status LED"
    depends on STATUS_LED
    
    config STATUS_LED_DATA_PIN
        int "LED data pin"
        range 0 32
        default 22

    config STATUS_LED_BRIGHTNESS
        int "LED brightness"
        range 8 255
        default 128
        help
            Controls how bright the LEDs will appear. The lower the value the darker the LED will appear.
            Recommended value is 128.

    choice STATUS_LED_TYPE
        bool "LED type"
        default STATUS_LED_TYPE_WS281X
        help
            This defines the type of LED, the following types are supported:
            STATUS_LED_TYPE  RESET PULSE  LED TYPES
            WS2811           300 uS       WS2811
            WS281X           300 uS       NeoPixel, WS2812, WS2813
            WS281X_800K      50 uS        NeoPixel, WS2812, WS2813
            WS281X_400K      50 uS        NeoPixel, WS2812, WS2813
            SK6812           80 uS        SK6812
            LC6812           80 uS        LC6812
            APA106           50 uS        APA106
            Note: APA106 is the type used for testing.
        config STATUS_LED_TYPE_WS281X
            bool "WS281X"
        config STATUS_LED_TYPE_WS281X_800K
            bool "WS281X (800k)"
        config STATUS_LED_TYPE_WS281X_400K
            bool "WS281X (400k)"
        config STATUS_LED_TYPE_WS2811
            bool "WS2811"
        config STATUS_LED_TYPE_SK6812
            bool "SK6812"
        config STATUS_LED_TYPE_LC6812
            bool "LC6812"
        config STATUS_LED_TYPE_APA106
            bool "APA106"
    endchoice

    choice STATUS_LED_COLOR
        bool "LED color order"
        default STATUS_LED_COLOR_RGB
        config STATUS_LED_COLOR_RGB
            bool "Red, Green, Blue"
        config STATUS_LED_COLOR_BRG
            bool "Blue, Red, Green"
        config STATUS_LED_COLOR_RBG
            bool "Red, Blue, Green"
        config STATUS_LED_COLOR_RGBW
            bool "Red, Green, Blue, White"
        config STATUS_LED_COLOR_GRBW
            bool "Green, Red, Blue, White"
    endchoice

    config STATUS_LED_UPDATE_INTERVAL_MSEC
        int "LED update frequency (milliseconds)"
        default 450
endmenu
